<h2>
  Rackspace Interactive Map
</h2>

<div class="rsMap-legend">
  <label class="rsMap-legend-label">
    <span class="rsMap-legend-dc"></span>
    Data Center
  </label>
  <label class="rsMap-legend-label">
    <span class="rsMap-legend-office"></span>
    Office
  </label>
  <label class="rsMap-legend-label">
    <span class="rsMap-legend-hub"></span>
    Rackconnect Locations
  </label>
</div>
